<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments :: page_head('WaDaMi', 'none')}">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link rel="stylesheet" th:href="@{/style.css}">
</head>

<body>
<div class="container-fluid">

	<div th:replace="~{navigation :: header_menu}"></div>
	
		<div class="m-5">
			<h2 class="mt-5">Politique en matière de normes de sécurité pour les enfants (CSAE)</h2>
			<hr/><br>
				<div class="ml-5"><a href="#0">Aperçu	</a></div><br/>
				<div class="ml-5"><a href="#1">Contenus et comportements interdits</a></div><br/>
				<div class="ml-5"><a href="#2">Filtrage en fonction de l'âge et restriction d'accès</a></div><br/>
				<div class="ml-5"><a href="#3">Collecte des données et protection de la vie privée</a></div><br/>
				<div class="ml-5"><a href="#4">Respect des lois sur la sécurité des enfants</a></div><br/>
				<div class="ml-5"><a href="#5">Signalement et assistance</a></div>
			<div>
				
				
				
				<br/><br/><br/><br/><br/>
				<b>Aperçu</b>
				<p class="pt-5" id="0"><b></b></p><hr>
				<p> WaDaMi se rejouit des dispositions prises par Google Play concernant les normes de sécurité qui garantissent le banissement total de toute forme d'abus sexuel et d'exploitation des enfants (CSAE) sur notre plateforme et nous travaillons activement à la prévention, à l'identification et au traitement de tout contenu ou comportement qui enfreint ce principe. </p>

				<p> Nous veillons à ce que notre application respecte les normes les plus strictes en matière de sécurité, de protection des données et de contenu approprié pour tous nos utilisateurs. </p>


						
				<br/><br/><br/><br/><br/>
				
				
				<p class="pt-5" id="1"><b>Contenus et comportements interdits</b></p>
				<p class="pt-5" id="0"><b></b></p><hr>
				

				<p> WaDaMi interdit explicitement à tous ses utilisateurs de créer, télécharger, partager ou distribuer du contenu qui facilite l'exploitation ou l'abus des enfants. De même nous interdisons sur notre application:</p>
				<p> tout contenu pédopornographique,</p>
				<p> Le marchandage sexuel ou le trafic d'enfants.</p>
				<p> la sexualisation des mineurs sous quelque forme que ce soit.</p>
				<p> Toute violation entraînera la suppression immédiate du contenu et la suspension ou l'interdiction du profil de l'utilisateur qui en est responsable </p> <br/>

				<p> Aucune publication sur l'application ne doit avoir des contenus violents, sexuels ou inappropriés pour les enfants.</p>
				
				

				<br/><br/><br/><br/><br/>
				
			
				<p class="pt-5" id="3"><b>Filtrage en fonction de l'âge et restriction d'accès</b>
				<p class="pt-5" id="0"><b></b></p><hr>
				
				<p> WaDaMi est une application concue pour les utilisateurs âgés d’au moins 18 ans et ne cible en aucun cas des mineurs. </p>
				<p> Nous n’acceptons donc pas un utilisateur avec un profil dont l’âge indiqué est au dessous de 18 ans. Une telle inscription ne sera pas validée sur notre application.</p>

				
				<br/><br/><br/><br/><br/>
				
				
				
				<p class="pt-5"><b>Collecte des données et protection de la vie privée</b>
				<p class="pt-5" id="0"><b></b></p><hr>
				
				<p> Aucune donnée personnelle collectée n’est partagée avec des tiers à des fins de marketing ou de publicité.</p>
				<p> S’il s’avérait qu’un enfant ait fait de fausses déclarations pour se faire accepter par notre application comme étant un adulte, nous prendrons immédiatement des mesures pour procéder à la suppression de son profil.</p>
				
				
				<br/><br/><br/><br/><br/>
				
				
								
				<p><b>Respect des lois sur la sécurité des enfants </b>
				<p class="pt-5" id="0"><b></b></p><hr>

				<p> WaDaMi est une application conforme aux lois et réglementations applicables en matière de sécurité des enfants, donc conforme aux exigences en matière de politique familiale de Google Play, ce qui garantit qu'elle est sûre et sécurisée pour les enfants.</p>

							
				<br/><br/><br/><br/><br/>
				
				
								
				<b>Signalement et assistance</b>
				<p class="pt-5" id="0"><b></b></p><hr>
				
				<p> Tout utilisateur a le devoir de signaler des problèmes de sécurité des enfants en nous écrivant à l’adresse administrateur@wadami.fr  ou en cliquant dans l'application sur „Profil → Contactez nous ici“.</p>

				<p> Nous prenons les problèmes de sécurité des enfants très au sérieux et nous encourageons tout utilisateur à le signaler directement dans l’application.</p>



				 
				 <br/><br/><br/><br/><br/>
								

				<br/><br/><br/>
				
	
				<br/><br/>
				<br/><br/>
				<br/><br/>
				
				Publié le 29 Mars 2025				
				<br/><br/>
				

			</div>
			<div class="pb-5"></div>
			<div class="pb-5"></div>
			<div class="pb-5"></div>
			<div class="pb-5"></div>
			<div class="pb-5"></div>	
			
			<div style="margin-bottom:20px;"></div>
		</div>

	<div th:replace="~{navigation :: footer_menu}"></div>
</div>	
</body>
</html>