<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" 
     style= "height: 100%">
    
<head th:replace="~{fragments :: page_head('WaDaMi', 'none')}">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link rel="stylesheet" th:href="@{/style.css}">
</head>

<body>
	<div class="nullAnnonce"  style= "padding-top: 20%;
			    font-family: fantasy;
			    font-size: large;
			    margin: auto;
			    width: 50%;">
		<div>
			Cette page est encore en cours de construction.
		</div><br/>
		<div>
			Merci pour votre compréhension
		</div>
	</div>
</body>
</html>