<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments :: page_head('WaDaMi', 'none')}">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link rel="stylesheet" th:href="@{/style.css}">
</head>

<body>
<div class="container-fluid">

	<div th:replace="~{navigation :: header_menu}"></div>
	
	<div class="m-5">	
		<h2 class="mt-5">Conditions générales d'utilisation de WaDaMi</h2>
		<hr/><br>
		<p><b>Attention !!! <FONT COLOR="#ff0000">N'ENVOYEZ JAMAIS DE L’ARGENT </FONT> à quelqu'un que vous rencontrez en ligne ! Si quelqu'un vous importune d’une quelconque façon ou vous demande de l'argent, veuillez bloquer son profil pour l’éloigner de vous ou signaler à l’administrateur du site afin que cet imposteur n’aille pas arnaquer d’autres utilisateurs.</b> </p>

		<p>WaDaMi facilite la rencontre et la prise de contact avec des partenaires amoureux potentiels.</p>
		<p>WaDaMi permet aussi aux gens de sortir de la solitude et d’agrandir leur cercle d’amis.</p>

		<br><br>
			<div class="ml-5"><a href="#1"> 1.  Description des prestations et objet du contrat</a></div>
			<div class="ml-5"><a href="#2"> 2.	Conclusion de contrat</a></div>
			<div class="ml-5"><a href="#3"> 3.	Prestation de services par WaDaMi</a></div>
			<div class="ml-5"><a href="#4"> 4.	Obligations du partenaire</a></div>
			<div class="ml-5"><a href="#5"> 5.	Conditions de paiement</a></div>
			<div class="ml-5"><a href="#6"> 6.	Durée du contrat et résiliation</a></div>
			<div class="ml-5"><a href="#7"> 7.	Protection des données personnelles</a></div>
			<div class="ml-5"><a href="#8"> 8.	Droits d'utilisation et droits d'auteur</a></div>
			<div class="ml-5"><a href="#9"> 9.	Limitation de responsabilité</a></div>
			<div class="ml-5"><a href="#10"> 10. Dommages et intérêts</a></div>
			<div class="ml-5"><a href="#11"> 11. Confidentialité</a></div>
			<div class="ml-5"><a href="#12"> 12. Modification des conditions générales</a></div>
			<div class="ml-5"><a href="#13"> 13. Clauses finales</a></div>
			<br><br>
		<p class="pt-5" id="1"><b>1. Description des prestations et objet du contrat</b></p>
		<hr>
		<p>
		<b>1.1-</b> Les utilisateurs de l’application mobile sont les partenaires ou annonceurs, c’est-à-dire des personnes physiques qui mettent à disposition sur la plateforme leur profil en vue de se faire découvrir ou découvrir les autres. 
		</p>
		<p>
		<b>1.2-</b> 
		Lorsqu'un annonceur ou par exemple quelqu’un visite l’application pour la première fois, il doit effectuer un enregistrement via son téléphone qui lui permet de se constituer un profil. Grâce à ce profil il n’aura désormais qu’à s’inscrire à chaque fois qu’il utilise l’application. Cette inscription peut aussi ne pas se révéler nécessaire lorsque vous utilisez toujours le même appareil de téléphone. Le système d’exploitation de votre appareil vous reconnaît systématiquement et vous connecte directement lorsque vous allez sur l’application. En utilisant notre plateforme, vous acceptez de facto nos conditions générales d’utilisation.
		</p>
		<p>
		<b>1.3-</b> 
		L’utilisation de l’application dans son entièreté est subordonnée à un achat d’abonnement pour les hommes. A cet effet différentes options sont disponibles. 
		Mais par contre elle est totalement gratuite pour les femmes, à moins qu’elles veuillent publier plus de 5 photos de profil. Néanmoins elle reste totalement gratuite pendant la période promotionnelle.
		<p>
		<b>1.4-</b> 
		En choisissant de souscrire à une offre particulière, le partenaire accepte toutes les exigences spécifiques liées à l’exploitation de notre plateforme. Ceci fait partie intégrante du contrat avec WaDaMi. Il n'existe pas de droit absolu pour être inscrit. Aucune revendication ne peut être faite en raison d'un refus dû à un antécédent avec l’utilisateur. L'annonceur est libre de souscrire à l’offre de son choix.
		</p>
		<br><br><br>
		
		<p class="pt-5" id="2"><b>2. Conclusion du contrat </b></p>
		<hr>
		<p><b>2.1-</b> 
		Pour pouvoir utiliser l’application et profiter de toutes les fonctionnalités, l’utilisateur se doit de souscrire à un abonnement.
		</p>		
		<p>			
		<b>2.2-</b> 
		Les personnes physiques âgées de plus de 18 ans, peuvent s'inscrire sur la plate-forme. WaDaMi se réserve le droit de vérifier au besoin l'identité du partenaire. L'enregistrement sur la plateforme n'est pas transférable.  Toute preuve d’un profil truqué conduit à sa suppression.		
		</p>
		
		<p>
		<b>2.3-</b> 
		En finalisant l'enregistrement et en acceptant les présentes conditions générales, les partenaires transmettent une demande d'enregistrement pour leur participation à la plateforme (création d'un compte). WaDaMi se réserve le droit de refuser une demande d'enregistrement sans avoir à se justifier.
		</p>
		
		<p>
		<b>2.4-</b> 
		Si WaDaMi accepte l'enregistrement, le partenaire reçoit un sms de confirmation. L'accès à la plateforme se fait en réinsérant ce code reçu par sms. S’en suit alors l’enregistrement proprement dit des données personnelles d’accès qui s’achève par une confirmation. Si le partenaire n'active pas le compte via l’appui sur le Ok d'activation, le compte est automatiquement résilié. Une nouvelle inscription est possible. 
		</p>
		<p>
		Les données et informations personnelles peuvent être consultées et modifiées sur la plate-forme dans la rubrique « Profil » et la participation à la plate-forme peut être entièrement résiliée selon la volonté de l’utilisateur.
		</p>
		
		<br><br><br>
		
		<p class="pt-5" id="3"><b>3. Prestation de services par WaDaMi</b></p>
		<hr>
		
		<p>
		<b>3.1-</b> WaDaMi s'efforce de développer continuellement la plateforme. Dans le cadre de ce développement, certaines applications peuvent être améliorées, étendues ou légèrement modifiées. 
		<br>WaDaMi a le droit, mais pas l'obligation, de continuer à développer la Plateforme à sa propre discrétion et de l'adapter en fonction de l'évolution technique.
		</p>
		
		<p>
		<b>3.2-</b> En raison de l'exécution de travaux de maintenance nécessaires ou d'autres extensions, il peut arriver que certaines fonctions soient temporairement indisponibles. Cela entraîne également l'arrêt partiel ou total de fonctions ou d'autres parties du service, pour autant que cela n'entraîne pas de modification plus que mineure des services de la plate-forme. Le droit de modifier les prestations est notamment réservé si la modification est conforme aux usages du secteur ou si elle est nécessaire en raison d'une modification de la loi ou d'une décision de justice.
		</p>
		
		<p>
		<b>3.3-</b> WaDaMi est également en droit de confier la fourniture de ses propres prestations ou de parties de celles-ci à des prestataires de services tiers ou à des auxiliaires d'exécution. Par exemple PayPal, MasterCard ou Visa peut se voir confié le service de transaction de l’achat d’une souscription.
		</p>
	
		<br><br><br>
		
		
		<p class="pt-5" id="4"><b>4. Responsabilités et Obligations de l’utilisateur </b></p>
		<hr>
				
		<p>
		<b>4.1-	Inscription</b>
		</p>		
		<p>
		<b>4.1.1-</b> Le partenaire garantit par la présente que les données fournies lors de l'enregistrement sont exactes et complètes. Si, après l'enregistrement, les données fournies devraient changer à un moment quelconque, le partenaire doit adapter en conséquence les données enregistrées sur la plate-forme.
		</p>		
		<p>
		<b>4.1.2-</b> Le partenaire s'engage à fournir les données d'accès à la plate-forme (numéro de téléphone, adresse e-mail et mot de passe) de manière confidentielle, à ne pas les transmettre à des tiers et à les conserver pour un usage strictement personnel et de manière à ce que des tiers n'en prennent pas connaissance. Aucun tiers ne doit être autorisé à utiliser les interfaces de la plate-forme par le biais de vos données d'accès. Si des tiers sont soupçonnés d'avoir pris connaissance de vos données d'accès, WaDaMi doit en être immédiatement informé.
		</p>
		<br>
		
				
		<p>
		 <b>4.2- Violation d'obligations contractuelles ou légales</b>
		</p>
				
		<p>
		<b>4.2.1-</b><FONT COLOR="#008000"> Toute forme d'abus peut entraîner le blocage immédiat du compte du partenaire. </FONT>
		</p>
				
		<p>
		<b>4.2.2-</b><FONT COLOR="#008000"> Le respect de la vie prisée de l’autre est très important. À cet effet nous demandons à tout utilisateur de respecter le droit de chacun de pouvoir s’inscrire sur WaDaMi.  </FONT>
		</p>
				
		<p>
		<b>4.2.3-</b><FONT COLOR="#008000"> Éviter surtout de vouloir faire comprendre à un utilisateur que vous le (la) connaissiez. </FONT>
		</p>
				
		<p>
		<b>4.2.4-</b><FONT COLOR="#008000"> Il est strictement interdit de copier la photo d’un utilisateur sur WaDaMi pour en faire usage ailleurs. </FONT>
		</p>
				
		<p>
		<b>4.2.5-</b><FONT COLOR="#008000"> Toute sorte de harcèlement ou blagues de mauvais goût à l’égard d’une connaissance retrouvée sur WaDaMi n’est pas toléré !!!  </FONT>
		</p>
		
		<p>
		<b>4.2.6-</b><FONT COLOR="#008000"> En cas de plainte de clients ou de violation de droits de tiers, WaDaMi a expressément le droit de bloquer le profit du mis en cause et de divulguer au besoin son identité aux autorités compétentes pour des poursuites judiciaires.  </FONT>
		</p>	
		<br><br><br>
		
		
		
		<p class="pt-5" id="5"><b>5. Conditions de paiement</b></p>
		<hr>
		<p>
		<b>5.1-</b> WaDaMi crée le compte du partenaire par le biais duquel le paiement sera effectué. Le règlement s'effectue dans le cadre d'une procédure effectuée par une société tiers de transaction crédit (par exemple PayPal, MasterCard, Visa, …) au cours de laquelle WaDaMi crédite la rémunération respective TTC (toute taxe comprise) via le mode de paiement choisi par le partenaire. Le partenaire peut consulter et télécharger par son propre biais l'avoir sur la plateforme en mode abonnement.
		</p>
		<p>
		<b>5.2-</b> La validation d'une souscription ne peut avoir lieu que si le compte du partenaire sur la plate-forme a été vérifié et légitimé en ce qui concerne toutes les données nécessaires au paiement. Les informations requises sont indiquées sur la plateforme, où le numéro de téléphone reste le document voire le moyen pertinent pour vérification de l’identité de la personne. 
		</p>
		<br><br><br>
		
		
		
		<p class="pt-5" id="6"><b>6. Durée du contrat et résiliation</b></p>
		<hr>
		
		<p>
		<b>6.1-</b> Le contrat de participation à la plate-forme est conclu pour une durée indéterminée. Le client peut résilier le contrat par écrit ou supprimer son compte dans la rubrique « Profil » à tout moment.
		</p>
		
		<p>
		<b>6.2-</b> Par contre la souscription à un abonnement a un délai de validité choisi par le client lui-même lors de l’achat d’abonnement VIP. Il existe donc des offres périodiques qui peuvent aller jusqu’à un an. Les abonnements consentis et dont la validité est encore en cours lors de la résiliation du contrat ou suppression du compte, ne seront en aucun cas remboursés. En cas de résiliation du présent contrat, le crédit restant ne sera pas reversé sur le compte du client. Une enquête pourrait être ouverte, si la participation du partenaire a pris fin en raison d'un abus.
		</p>
		<br><br><br>
		
		
		
		
		<p class="pt-5" id="7"><b>7. Protection des données personnelles</b></p>
		<hr>
		
		<p>
		<b>7.1-</b> La protection des données personnelles est une priorité pour WaDaMi - en même temps, la collecte, le traitement et l'utilisation de ces données sont une condition essentielle pour le fonctionnement de la plateforme. WaDaMi collecte, traite et utilise les données personnelles exclusivement dans le respect des lois en vigueur sur la protection des données en ligne. Les parties consentent au traitement des données à caractère personnel conformément aux exigences des lois sur la protection des données.
		</p>
		
		<p>
		<b>7.2-</b> WaDaMi est donc autorisé à collecter des données à caractère personnel et à les utiliser dans la mesure où cela est nécessaire pour permettre aux utilisateurs de participer à la plateforme : 
		• WaDaMi collecte, traite et utilise notamment les données demandées lors de l'inscription ainsi que les données générées lors de la géolocalisation du réseau. 
		• WaDaMi utilise également les données de contact pour contacter le partenaire par sms ou e-mail au sujet de sa participation à la plateforme. La réception de ce que l'on appelle les messages de l'exploitant - des e-mails de l'exploitant du réseau - peut être désactivée dans l'interface de la plate-forme. WaDaMi recommande toutefois d'activer la réception, car c'est par ce biais que des informations essentielles, comme par exemple les modifications du règlement ou les innovations, doivent être communiquées.
		</p>
		
		<p>
		<b>7.3-</b> Les utilisateurs s’engagent à respecter la sécurité et la confidentialité des données à caractère personnel des autres utilisateurs.
		</p>

		<br><br><br>
		
		
		
		
		<p class="pt-5" id="8"><b>8. Droits d'utilisation et droits d'auteur</b></p>
		<hr>
		
		<p>
		<b>8.1-</b> La plate-forme est protégée par des droits de propriété intellectuelle ou d'autres dispositions légales. 
		</p>
		
		<p>
		<b>8.2-</b> Les utilisateurs ne sont pas autorisés à transmettre les données personnelles ou contenus d’un profil à des tiers, ni à créer leurs propres bases de données et/ou services d'information à partir des données piochées sur d’autres profiles. Par exemple mettre la photo copiée sur le profil d’une autre personne sur le sien.
		</p>
		
		<p>
		<b>8.3-</b> Le partenaire n'est en aucun cas autorisé à utiliser le nom, la marque ou le logo de WaDaMi sans autorisation écrite au préalable.
		</p>

		<br><br><br>
		
		
		
		
		<p class="pt-5" id="9"><b>9. Limitation de responsabilité</b></p>
		<hr>
		
		<p>
		WaDaMi n'assume aucune responsabilité quant aux contenus diffusés et ne saurait être tenu pour responsable d'éventuels dommages ou autres défaillances imputables à d'éventuels défauts des logiciels, du matériel des participants ou à leur incompatibilité. 
		<br>En outre, WaDaMi n'est pas responsable des dommages résultant de l'indisponibilité des services dûe par exemple à la fourniture du réseau internet.
		</p>

		<br><br><br>
		
		
		
		
		<p class="pt-5" id="11"><b>11. Dommages et intérêts</b></p>
		<hr>
		<p>
		Le respect de ce contrat est d'une importance considérable pour le bon fonctionnement de la plate-forme. En cas de violation grave du contrat, WaDaMi se réserve le droit d'engager des actions en justice, en plus de la résiliation du contrat en commençant par le blocage du compte de l’intéressé. 
		</p>
		<br><br><br>
		
		
		
		
		<p class="pt-5" id="11"><b>11. Confidentialité</b></p>
		<hr>
		
		<p>
		Sauf disposition contraire dans le présent Contrat ou avec l'accord entre les deux parties nommées divulgatrice et destinataire, les informations échangées sur la plateforme, y compris celles accessibles sur les profils fournies par elles ou en leur nom, restent strictement confidentielles et secrètes et ne peuvent être utilisées par une partie, directement ou indirectement, à d'autres fins que la participation sur la plateforme, sauf et uniquement dans la mesure où de telles informations sont généralement connues ou accessibles au public par une source autre que la partie divulgatrice. 
		<br>La disposition de cette clause s'applique également après la résiliation du présent contrat.
		</p>
		
		<br><br><br>
		
		
		
		
		<p class="pt-5" id="12"><b>12. Modification des conditions générales</b></p>
		<hr>
		
		<p>
		<b>12.1-</b> WaDaMi se réserve par la présente le droit de modifier à tout moment les dispositions du présent contrat qui sont mineures en termes de portée ou de nature. Et ce, sans avoir à se justifier, pour autant que les modifications n'entraînent pas une refonte du contrat dans son ensemble. Les conditions modifiées seront communiquées par sms ou par e-mail au moins deux semaines avant leur entrée en vigueur. Si le partenaire ne s'oppose pas par écrit aux modifications des conditions générales dans un délai de quatre semaines après réception du message de communication, les modifications correspondantes sont considérées comme acceptées. WaDaMi attirera particulièrement l'attention sur le délai d'objection en indiquant clairement le délai de quatre semaines.
		</p>
		
		<p>
		<b>12.2-</b> WaDaMi est en droit de bloquer le compte du partenaire sur la plateforme si le partenaire s'oppose aux modifications du contrat. Le blocage du compte peut être maintenu jusqu'à ce que WaDaMi et le partenaire aient conclu un nouveau contrat ou que le partenaire ait accepté les versions modifiées.
		</p>
		<br><br><br>
		
		
		
		
		<p class="pt-5" id="13"><b>13. Dispositions finales</b></p>
		<hr>
		
		<p>
		<b>13.1-</b> Le présent contrat constitue l'intégralité de l'accord entre l’utilisateur et WaDaMi. Aucune modification du présent contrat n'est valable, sauf si elle est communiquée par écrit à tous les utilisateurs. 
		</p>
		
		<p>
		<b>13.2-</b> Le présent contrat ne crée aucune ambiguïté, n'autorise aucune des parties à faire des déclarations juridiquement contraignantes au nom des autres parties, à engager l'autre partie de quelque manière que ce soit ou à la harceler d'une manière ou d‘une autre.
		</p>
		
		<p>
		<b>13.3-</b> Les présentes conditions générales et la relation contractuelle avec le partenaire sont exclusivement régies par le présent contrat.
		</p>
		
		<p>
		<b>13.4-</b> Si certaines dispositions du présent contrat sont ou deviennent totalement ou partiellement caduques dans le temps, la disposition caduque sera remplacée par une nouvelle disposition juridiquement valable et dont le sens et le but économique se rapprochent le plus possible de la disposition caduque au sens économique.
		</p>

		<br><br><br><br><br><br>
		
		Valable à partir du : 15 Décembre 2023	
				
	</div>


	<div th:replace="~{navigation :: footer_menu}"></div>
</div>	
</body>
</html>